<a href="https://colab.research.google.com/github/lenaphamthi/code15_11/blob/master/baitaptailoplan2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

trang 16

In [22]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

trang 17

In [ ]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

trang 18

In [31]:
tuple1 = ('physics', 'chemistry', 1997, 2000)
print(tuple1)
del tuple1

('physics', 'chemistry', 1997, 2000)

In [105]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ", )

('physics', 'chemistry', 1997, 2000)
After deleting tup :

trang 19

In [ ]:
len((1, 2, 3))

3

In [ ]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [37]:
('hello,')* 4

'hello,hello,hello,hello,'

In [38]:
3 in (1, 2, 3)

True

trang 20

In [ ]:
T = ('Red', 'Yellow', 'Green')
T[-2]

'Yellow'

In [ ]:
T[2]

'Green'

In [ ]:
T[1:]

('Yellow', 'Green')

trang 21

In [42]:
tup1 = (2,4,5,6,)
len(tup1)

4

In [43]:
max(tup1)

6

In [44]:
min(tup1)

2

DICT

In [122]:
dict1 = {'Name': 'Na', 'Age': 18, 'Class': 'DS&AI'}
print("dict1['Name']: ", dict1['Name'])
print("dict1['Age']: ", dict1['Age'])

dict1['Name']:  Na
dict1['Age']:  18

trang 25

In [62]:
dict1 = {'Name': 'Na', 'Age': 18, 'Class': 'DS&AI'}
dict1['Age'] = 8; 
dict1['School'] = "DPS School"; 
print("dict1['Age']: ", dict1['Age'])
print("dict1['School']: ", dict1['School'])

dict1['Age']:  8
dict1['School']:  DPS School

trang 26

In [123]:
dict1 = {'Name': 'Na', 'Age': 18, 'Class': 'DS&AI'}
del dict1['Name'] 
dict1.clear() 
del dict1

trang 27

In [50]:
d1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
len(d1)

3

In [51]:
str(d1)

"{'Name': 'Zara', 'Age': 7, 'Class': 'First'}"

trang 28

In [114]:
dict.copy(d1)

{'gioi tinh': 'nu'}

In [55]:
dict.clear(d1)

In [88]:
dict1 = {'Name': 'Na', 'Age': 18, 'Class': 'DS&AI'}
dict2 = {'gioi tinh': 'nu'}
dict1.update(dict2)
print (dict1)

{'Name': 'Na', 'Age': 18, 'Class': 'DS&AI', 'gioi tinh': 'nu'}

SET

In [121]:
Set1 = set(["a", "b", "c"])
print("Set1: ")
print(Set1)
Set1.add("d")
print("\nSet1 after adding: ")
print(Set1)

Set1:
{'c', 'a', 'b'}

Set1 after adding:
{'c', 'd', 'a', 'b'}

trang 32

In [112]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
for i in range(1, 6):
  people.add(i)
print("\nSet after adding element:", end = " ")
print(people)

People:
{'Archi', 'Idrish', 'Jay'}

Set after adding element: {1, 2, 3, 'Archi', 4, 5, 'Daxit', 'Jay', 'Idrish'}

trang 33

In [92]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
print(Days)
Days.discard("Sun")
print(Days)

{'Sun', 'Tue', 'Wed', 'Fri', 'Mon', 'Thu', 'Sat'}
{'Tue', 'Wed', 'Fri', 'Mon', 'Thu', 'Sat'}

trang 34

In [85]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

trang 35

In [84]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
population = people.union(vampires)
print("Union using union() function")
print(population)
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Archil', 'Karan', 'Arjun', 'Jay'}

Union using '|' operator
{'Idrish', 'Archil', 'Raju', 'Deepanshu', 'Jay'}

trang 36

In [107]:
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Intersection using intersection() function
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
# Intersection using "&" operator
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
{3, 4}

Intersection using '&' operator
{3, 4}

trang 37

In [108]:
set1 = set()
for i in range(5):
  set1.add(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

 Difference of two sets using difference() function
{0, 1, 2}

Difference of two sets using '-' operator
{0, 1, 2}

In [77]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

DATE&TIME

In [80]:
import time; 
ticks = time.time()
print("Number of ticks since 3:00CH, November, 2021:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 3:00CH, November, 2021: 1636963001.3029523
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=15, tm_hour=7, tm_min=56, tm_sec=41, tm_wday=0, tm_yday=319, tm_isdst=0)

In [81]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Mon Nov 15 07:56:49 2021

In [82]:
import calendar
cal = calendar.month(2021, 11)
print("Here is the calendar:")
print(cal)

Here is the calendar:
   November 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30